/* .container{
    background-color: coral;
}

table, tbody{
    border: 1px solid black;
} */


/* .tabel_invizibil{
    display: none;
} */


.thead_permanent{
    background-color: rgba(36, 11, 70, 0.3);
}

.th_permanent{
padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.td_permanent{
    background-color: rgb(21, 21, 70, 0.9);
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px  rgb(248, 238, 238, 0.8);
}

.table_permanent{
    max-height:300px;
    overflow:auto;
    background: -webkit-linear-gradient(left, #c4ecf3, #56e6c2);
    background: linear-gradient(to right, #c4ecf3, #56e6c2);
    margin:auto;
}

.tabel_vizibil{
    margin:auto;
    margin-top:40px;
    margin-bottom:30px;
    max-height:300px;
    overflow:auto;
    background: -webkit-linear-gradient(left, #c4ecf3, #56e6c2);
    background: linear-gradient(to right, #c4ecf3, #56e6c2);
}

.thead_vizibil{
    background-color: rgba(36, 11, 70, 0.2);
}

.th_vizibil{
    padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }



.td_vizibil{
    background-color: rgb(21, 21, 70, 0.6);
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px  rgb(248, 238, 238, 0.8);
}



.container{
    /* display: flex;
    flex-direction: column; */
   text-align: center;
   background-color: lavender;
   
    
}

.text_cautare{
    
    margin: auto;
    width: 50%;
    border: 3px solid #f1bd4d;
    padding: 10px;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    color: #9DBFAF;
    margin-top:20px;
    margin-bottom:40px;
    
}

.span_selectare_element{

    display:inline-block;
    margin:auto;
    
}

.meniu_navigare{
   
    height:50px;
    width:auto;
    background-color: #ffffffe6;
    border-radius: 5px 5px 5px 5px;
    color:rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    margin:auto;
    

}


.pageTitleMyExp{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: flex;
    padding: 10px;
    border: 4px solid rgb(51, 35, 15);
    color: #FFFFFF;
    background-color: rgb(245 146 27) ;
    margin: auto;  
    text-align: center;
    margin-bottom:40px;
}