/* .container{
    background-color: coral;
}

table, tbody{
    border: 1px solid black;
} */

.table{
    background-color: red;
}
/* .tabel_invizibil{
    display: none;
} */
.tabel_vizibil{
    display: block;
}